channels:
- conda-forge
dependencies:
- coveralls
- coverage
- codacy-coverage
- dill =0.3.6
- future =0.18.3
- gitpython =3.1.31
- h5io =0.1.7
- h5py =3.8.0
- numpy =1.24.2
- pandas =2.0.0
- pathlib2 =2.3.7.post1
- pint =0.20.1
- psutil =5.9.4
- pyfileindex =0.0.7
- pysqa =0.0.19
- pytables =3.7.0
- sqlalchemy =1.4.46
- tqdm =4.65.0
- traitlets =5.9.0
