channels:
- conda-forge
dependencies:
- cloudpickle =3.1.2
- executorlib =1.7.3
- h5io_browser =0.2.8
- h5py =3.15.1
- monty =2025.3.3
- numpy =2.4.0
- pandas =2.3.3
- psutil =7.2.0
- pyfileindex =0.1.2
- pyiron_dataclasses =0.0.9
- pyiron_snippets =1.0.2
- pysqa =0.3.3
- pytables =3.10.2
- sqlalchemy =2.0.45
- tqdm =4.67.1
- traitlets =5.14.3
- hatchling =1.27.0
- hatch-vcs =0.5.0
