channels:
- conda-forge
dependencies:
- coveralls
- coverage
- codacy-coverage
- dill =0.3.6
- gitpython =3.1.31
- h5io =0.1.7
- h5py =3.9.0
- numpy =1.24.3
- pandas =2.0.2
- pint =0.22
- psutil =5.9.5
- pyfileindex =0.0.11
- pysqa =0.0.25
- pytables =3.8.0
- sqlalchemy =2.0.17
- tqdm =4.65.0
- traitlets =5.9.0
