channels:
- conda-forge
dependencies:
- coveralls
- coverage
- codacy-coverage
- dill =0.3.7
- gitpython =3.1.32
- h5io =0.1.8
- h5py =3.9.0
- jinja2 =3.1.2
- numpy =1.24.3
- pandas =2.0.3
- pint =0.22
- psutil =5.9.5
- pyfileindex =0.0.11
- pysqa =0.1.0
- pytables =3.8.0
- sqlalchemy =2.0.19
- tqdm =4.66.1
- traitlets =5.9.0
