channels:
- conda-forge
dependencies:
- coveralls
- coverage
- codacy-coverage
- dill =0.3.6
- future =0.18.3
- gitpython =3.1.30
- h5io =0.1.7
- h5py =3.8.0
- numpy =1.24.1
- pandas =1.5.3
- pathlib2 =2.3.7.post1
- pint =0.20.1
- psutil =5.9.4
- pyfileindex =0.0.7
- pysqa =0.0.18
- pytables =3.7.0
- sqlalchemy =2.0.1
- tqdm =4.64.1
- traitlets =5.9.0
