channels:
  - conda-forge
dependencies:
  - coveralls
  - coverage
  - codacy-coverage
  - dill >=0.3.1.1
  - future >=0.18.2
  - gitpython >=3.1.0
  - h5io >=0.1.1
  - h5py >=2.10.0
  - numpy >=1.18.1
  - pandas >=1.0.1
  - pathlib2 >=2.3.5
  - psutil >=5.7.0
  - pyfileindex >=0.0.4
  - pysqa >=0.0.13
  - pytables >=3.6.1
  - six >=1.14.0
  - sqlalchemy >=1.3.14
  - tqdm >=4.35.0
