channels:
- conda-forge
dependencies:
- coveralls
- coverage
- codacy-coverage
- dill =0.3.7
- gitpython =3.1.40
- h5io =0.1.9
- h5py =3.10.0
- jinja2 =3.1.2
- numpy =1.26.2
- pandas =2.1.3
- pint =0.22
- psutil =5.9.5
- pyfileindex =0.0.13
- pysqa =0.1.4
- pytables =3.9.1
- sqlalchemy =2.0.23
- tqdm =4.66.1
- traitlets =5.13.0
