channels:
- conda-forge
dependencies:
- cloudpickle =3.1.2
- executorlib =1.7.4
- h5io_browser =0.2.9
- h5py =3.15.1
- monty =2025.3.3
- numpy =2.4.1
- pandas =3.0.0
- psutil =7.2.2
- pyfileindex =0.1.3
- pyiron_dataclasses =0.0.10
- pyiron_snippets =1.0.2
- pysqa =0.3.4
- pytables =3.10.2
- sqlalchemy =2.0.46
- tqdm =4.67.2
- traitlets =5.14.3
- hatchling =1.28.0
- hatch-vcs =0.5.0
