channels:
- conda-forge
dependencies:
- coveralls
- coverage
- codacy-coverage
- dill =0.3.5.1
- future =0.18.2
- gitpython =3.1.28
- h5io =0.1.7
- h5py =3.7.0
- numpy =1.23.3
- pandas =1.5.0
- pathlib2 =2.3.7.post1
- pint =0.19.2
- psutil =5.9.2
- pyfileindex =0.0.6
- pysqa =0.0.16
- pytables =3.7.0
- sqlalchemy =1.4.41
- tqdm =4.64.1
