channels:
- conda-forge
dependencies:
- python
- conda =26.1.0
- conda_subprocess =0.0.11
- cloudpickle =3.1.2
- executorlib =1.8.2
- gitpython =3.1.46
- h5io_browser =0.2.10
- h5py =3.15.1
- jinja2 =3.1.6
- monty =2025.3.3
- numpy =2.4.2
- pandas =3.0.0
- pint =0.25.2
- psutil =7.2.2
- pyfileindex =0.1.3
- pyiron_dataclasses =0.0.11
- pyiron_snippets =1.0.2
- pysqa =0.3.4
- pytables =3.10.2
- sqlalchemy =2.0.46
- tqdm =4.67.3
- traitlets =5.14.3
- hatchling =1.28.0
- hatch-vcs =0.5.0
