# This workflow is used to check the compatibility with the pyiron_atomistics

name: Compatibility with pyiron_atomistics

on:
  push:
    branches: [ main ]
  pull_request:
    types: [labeled, opened, synchronize, reopened]

jobs:
  build:
    if: |
      github.event_name == 'push' ||
      ( github.event_name == 'pull_request'  && contains(github.event.pull_request.labels.*.name, 'integration' ))
    
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        include:
          - operating-system: macos-latest
            python-version: '3.12'

          - operating-system: windows-latest
            python-version: '3.12'

          - operating-system: ubuntu-latest
            python-version: '3.12'

    steps:
    - uses: actions/checkout@v4
    - name: Merge environment
      shell: bash -l {0}
      run: |
        git clone https://github.com/pyiron/pyiron_atomistics ../pyiron_atomistics
        echo -e "channels:\n  - conda-forge\n" > .condarc
    - name: Setup Mambaforge
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: ${{ matrix.python-version }}
        miniforge-version: latest
        condarc-file: .condarc
        environment-file: ../pyiron_atomistics/.ci_support/environment.yml
    - name: Tests
      shell: bash -l {0}
      timeout-minutes: 30
      run: |
        cd ../pyiron_atomistics
        pip install . --no-deps --no-build-isolation
        cd ../pyiron_base
        pip install . --no-deps --no-build-isolation
        cd ../pyiron_atomistics
        python .ci_support/pyironconfig.py
        python -m unittest discover tests/
