# This workflow is used to check backwards compatibility

name: Backwards

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Mambaforge
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: "3.12"
        miniforge-variant: Mambaforge
        channels: conda-forge
        channel-priority: strict
        activate-environment: my-env
        environment-file: .ci_support/environment.yml
        use-mamba: true
    - name: Tests
      shell: bash -l {0}
      timeout-minutes: 30
      run: |
        python .ci_support/pyironconfig.py
        ./.ci_support/test_backwards.sh
