# This workflow is used to check the compatibility with the pyiron_contrib

name: Compatibility with pyiron_contrib

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [labeled, opened, synchronize, reopened]

jobs:
  build:
    if: |
      github.event_name == 'push' ||
      ( github.event_name == 'pull_request'  && contains(github.event.pull_request.labels.*.name, 'integration' ))
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: pyiron_contrib
      run: |
        pip install PyYAML
        git clone https://github.com/pyiron/pyiron_contrib ../pyiron_contrib
        grep -v "pyiron_base" ../pyiron_contrib/.ci_support/environment.yml > ../pyiron_contrib/environment.yml
        python .ci_support/condamerge.py --base .ci_support/environment.yml --add ../pyiron_contrib/environment.yml > environment.yml
    - name: Setup Mambaforge
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: '3.10'
        miniforge-variant: Mambaforge
        channels: conda-forge
        channel-priority: strict
        activate-environment: my-env
        use-mamba: true
    - name: Set cache date and number
      run: |
        echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV
        cat .github/variables/cache_number.env >> $GITHUB_ENV
    - uses: actions/cache@v2
      with:
        path: /usr/share/miniconda3/envs/my-env
        key: linux-64-py-3-10-conda-${{ hashFiles('environment.yml') }}-${{ env.DATE }}-${{ env.CACHE_NUMBER }}
      id: cache
    - name: Update environment
      run: mamba env update -n my-env -f environment.yml
      if: steps.cache.outputs.cache-hit != 'true'
    - name: pyironconfig
      shell: bash -l {0}
      run: |
        cd ../pyiron_contrib
        python .ci_support/pyironconfig.py
        cd ../pyiron_base
    - name: Install pyiron_contrib
      shell: bash -l {0}
      run: |
        cd ../pyiron_contrib
        pip install --no-deps .
        cd ../pyiron_base
    - name: Install pyiron_base
      shell: bash -l {0}
      run: |
        pip install --no-deps .
    - name: Test
      shell: bash -l {0}
      timeout-minutes: 30
      run: |
        cd ../pyiron_contrib
        python -m unittest discover tests/
