# This workflow is used to test, if the documentation can build

name: Docs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: "3.10"
        mamba-version: "*"
        channels: conda-forge
        channel-priority: strict
        auto-update-conda: true  
        environment-file: .ci_support/environment.yml
    - name: Setup
      shell: bash -l {0}
      run: |
        python .ci_support/pyironconfig.py
        pip install --no-deps .
        conda env update --name test --file .ci_support/environment-docs.yml
    - name: Documentation
      shell: bash -l {0}
      run: |
        mkdir public_html; cd docs
        sphinx-build -b html ./ ../public_html || exit 1;
        cd ..
